# SPDX-FileCopyrightText: 2024 Ondsel <development@ondsel.com>
#
# SPDX-License-Identifier: LGPL-2.0-or-later

[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=screen,file

[formatters]
keys=basic,color

[formatter_basic]
format=%(name)s- %(lineno)d: %(levelname)s: %(message)s

[formatter_color]
class=colorlog.ColoredFormatter
format=%(log_color)s%(name)s- %(lineno)d: %(levelname)s: %(message)s

[handlers]
keys=file,screen

[handler_file]
class=FileHandler
formatter=basic
level=WARNING
args=("/tmp/main.log",'w+')

[handler_screen]
class=StreamHandler
formatter=color
level=DEBUG
args=(sys.stdout,)
